@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --bgColor: #f7f7fb;
  --primaryColor: #4a3aff;
  --secondaryColor: #170f49;
  --neutralColor: #962dff;
  --neutalLightColor: #f3f1ff;
  --accentColor: #6f6c90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", serif;
  color: var(--accentColor);
}

.container {
  width: 100%;
  min-height: 100vh;
  background: var(--bgColor);
  padding: 20px 70px 0px 70px;
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  width: 300px;
}
.nav .logo img {
  width: 100%;
}

.btn {
  height: 60px;
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 56px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.nav .btn {
  background: var(--primaryColor);
}

/* Form Section */
.form-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .forms-section {
  width: 700px;
}
.headings {
  text-align: center;
}
.headings h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--secondaryColor);
  margin-bottom: 10px;
}
.headings p {
  font-size: 18px;
  font-weight: 400;
}

/* Forms */
.forms {
  width: 700px;
  height: 100%;
  padding: 30px;
  border: 0.5px solid #eff0f6;
  background: #fff;
  border-radius: 34px;
  box-shadow: 0px 0px 10px rgba(38, 35, 56, 0.1);
  margin-top: 45px;
}

.forms .steper-steps {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9dbe9;
}

.steper-steps .steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steper-steps .steper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 10px;
  border-radius: 50%;
  background: #eff0f6;
  transition: all 0.2s;
}

.steper-steps .steper-bar {
  width: 100px;
  height: 8px;
  background: #eff0f6;
  border-radius: 5px;
  margin-left: 15px;
  transition: all 0.2s;
}

form {
  margin-top: 50px;
}

form .step h2 {
  color: var(--secondaryColor);
  font-size: 24px;
  margin-bottom: 15px;
}
form .step p {
  font-size: 18px;
}

form .form-content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
}
form label {
  display: block;
  font-size: 18px;
  color: var(--secondaryColor);
  font-weight: 500;
  margin-bottom: 15px;
}

form .form-content div {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

form .form-content input {
  width: 100%;
  height: 60px;
  border: 1px solid #eff0f6;
  box-shadow: 0px 0px 10px rgba(38, 35, 56, 0.1);
  outline: none;
  border-radius: 46px;
  padding: 0px 25px;
}

.form-content div img {
  position: absolute;
  right: 20px;
  top: 55px;
}

.form-btn {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.form-btn .btn.btn-next {
  background: var(--primaryColor);
}
.form-btn .btn.btnPrev {
  background: #fff;
  color: var(--neutralColor);
  border: 1px solid #4a3aff;
  visibility: hidden;
}
.forms-section {
  margin-bottom: 60px;
}

#servicesDetails,
#priceDetails,
#submit {
  display: none;
}

.services,
.prices {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  cursor: pointer;
}

.service,
.price {
  border: 2px solid #eff0f6;
  box-shadow: 0px 0px 10px rgba(38, 35, 56, 0.1);
  padding: 10px;
  border-radius: 16px;
  transition: border 0.3s;
}
.service:hover,
.price:hover {
  border: 2px solid #4a3aff;
}
.service input {
  display: none;
}
.service-info,
.price {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #170f49;
}
.service-info .service-img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: #962dff43;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  padding: 40px 20px;
}

#submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#submit h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0px;
}
#submit p {
  font-size: 18px;
  margin: 0px 0px 30px 0px;
}

#submit .btn-submit {
  background: var(--primaryColor);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  border-top: 1px solid #d9dbe9;
}

.footer img {
  width: 260px;
  margin-bottom: 20px;
}

.subscribe {
  width: 500px;
  height: 75px;
  position: relative;
  border: 0.5px solid #eff0f6;
  border-radius: 60px;
  box-shadow: 0px 0px 10px rgba(38, 35, 56, 0.1);
}
.subscribe input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
  padding: 0px 20px;
}
.btn-footer {
  position: absolute;
  right: 12px;
  top: 7px;
  background: var(--primaryColor);
}

/* Mobile View */

@media screen and (max-width: 400px) {
  .container {
    padding: 15px 20px 0px 20px;
  }
}

@media screen and (max-width: 670px) {
  .container {
    padding: 15px 30px 0px 30px;
  }
  .nav .logo {
    width: 170px;
  }
  .nav .btn {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
  }

  .form-container {
    margin-top: 30px;
  }

  .form-container .forms-section {
    width: 100%;
  }
  .headings h1 {
    font-size: 26px;
  }
  .headings p {
    font-size: 14px;
  }
}
